<div class="p-4 h-[80vh]">
  <header class="border-b-2 border-gray-600  flex justify-between items-center  p-2">
    <h1 class="display-4 text-2xl font-medium">Shopping Cart</h1>
  </header>
  <main class="overflow-y-auto py-4">
    <article *ngIf="(items$ | async)?.length " class="h-[70vh]  overflow-y-auto">
      <div *ngFor="let item of items$  | async"
        class="flex justify-start  items-center space-x-4  py-3 overflow-y-auto ">
        <mat-card class="shadow-none w-full" :key="item.id">
          <mat-card-header>
            <mat-card-title-group>
              <mat-card-title>{{ item.product.title }}</mat-card-title>
              <mat-card-subtitle> {{ item.product.price }} MAD</mat-card-subtitle>
              <img mat-card-md-image [src]="item.product.image" alt="Image of a product">
            </mat-card-title-group>
          </mat-card-header>
          <mat-card-content class="flex justify-start space-x-3 items-center">
            <div
              class="flex justify-center items-center space-x-2 bg-white text-black border-2 border-black rounded-lg px-2 py-1 ">
              <button (click)="increaseQuantity(item.product.id)" class="flex"> <mat-icon>add</mat-icon> </button>
              <div class="flex">
                {{item.quantity}}
              </div>
              <button (click)="decreaseQuantity(item.product.id)" class="flex"
                [disabled]="item.quantity <= 1"><mat-icon>remove</mat-icon></button>
            </div>
            <button (click)="removeItem(item.product.id)" class="underline">Remove</button>
          </mat-card-content>
        </mat-card>
      </div>

    </article>

    <div *ngIf="!(items$ | async)?.length " class="flex justify-center flex-col items-center">
      <p>Your cart is currently empty.
      </p>
      <h1 class="text-2xl font-medium underline leading-10">Contiue browsing
      </h1>
    </div>
  </main>
  <footer class="bg-[#f2efec] absolute bottom-0 w-full left-0 right-0 p-4 space-y-2 ">
    <div class="flex justify-between items-center border-b-2 py-2 ">
      <h1 class="text-base font-normal">Total: </h1>
      <h1 class="text-2xl font-semibold">{{cartTotal$ | async}} MAD</h1>
    </div>
    <div class="">
      <p class="text-[13px]">Tax included and shipping calculated at checkout</p>
    </div>
    <div class="flex items-center w-full space-x-4">
      <button (click)="clearCart()" class="bg-transparent text-black border-2 border-black px-4 py-3 w-full ">Clear
        Cart</button>
      <button (click)="checkout()" class="bg-black text-white px-4 py-3 w-full">Checkout</button>
    </div>

  </footer>
</div>