<div class="">
    <mat-toolbar class="bg-transparent hover:bg-[#f7f4f2]  ">
        <mat-toolbar-row class="flex justify-between items-center py-4 ">
            <div>
                <mat-icon class="material-symbols-outlined text-3xl cursor-pointer" (click)="toggleCart()"
                    [matBadge]="cartItemCount$ | async" matBadgeColor="accent" matBadgeSize="small" matBadgePosition="above after">
                    shopping_cart
                </mat-icon>
            </div>
            <span class="contents text-2xl md:text-4xl cursor-pointer font-bold tracking-widest max-[200px]:hidden" (click)="returnToHome()">
                ACHRIF
            </span>
        </mat-toolbar-row>
    </mat-toolbar>

    <mat-sidenav-container fxFlexFill>
        <mat-sidenav #sidenav mode="over" [(opened)]="showCart" class="w-[30%] max-sm:w-full fixed h-screen max-lg:w-[60%] bg-white">
            <mat-nav-list class="z-50 h-[80vh]">
                <div (click)="sidenav.toggle()" href="" mat-list-item class="right-9 cursor-pointer absolute top-3">
                    <mat-icon>close</mat-icon>
                </div>
                <kep-shopping-cart class="h-[80vh]" />
            </mat-nav-list>
        </mat-sidenav>
        <mat-sidenav-content fxFlexFill class="bg-[#f7f4f2]">
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>